/* Tablo Konteyner */
.table-container {
    margin: 30px auto;
    width: 90%;
    text-align: center;
}

/* Stilize Tablo */
.styled-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 16px;
    margin: 20px 0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.styled-table thead tr {
    background-color: #3949ab;
    color: #fff;
    text-align: left;
    font-weight: bold;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;
}

.styled-table tbody tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

.styled-table tbody tr:last-of-type td {
    border-bottom: none;
}

/* Responsive Tablolar */
@media (max-width: 768px) {
    .styled-table {
        font-size: 14px;
    }
}
